/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#top_nav ul { background-color: #343633; display:inline-block; width:100%; height:31px; }
#top_nav ul li { float:left; padding: 4px 4px; }
#top_nav ul li a { display:block; padding:5px 5px; color:#C8CCC6;
font-family: Arial, sans-serif;
font-size: 13px;
text-decoration: none;
font-weight: bold; }
#top_nav ul li a:hover {color: #FFFFFF;
	}

a#sign_in { margin: 100px auto;
	border: 1px solid #DB381F;
	background-color: #DB381F;
	float: right;
	padding: 10px 20px 10px 20px;
	margin-top: 20px; 
	margin-right: 40px;
	display:block;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
a#sign_in a:hover {
	box-shadow: 0px 8px 16px 0px;
}
	
#logo {
	margin: 120px auto 25px auto;
	width: 275px;
}

#logo img {width: 100%;
	}

#form {
	margin: 0px auto; 
	width: 500px;
}

#form input {
	width: 500px;
	margin: 10px;
	padding: 5px;
	display: inline-block;
	border: 1px solid #736F70;
	border-radius: 0px;
	border-style-right: inset;
	border-style-bottom: inset;
}

#form_buttons {width: 245px;
	margin: 0px auto;
	}
	
#form_buttons input {
	width: 110px;
	padding: 7px;
	display: inline-block;
	border: 1px solid #D1CFD0;
	border-radius: 0px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
	background-color: #F2EDEF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #343633;
}
#form_buttons input:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#bottom_nav {width:100%; border-top: 1px solid #DED7D9; position: fixed; bottom:0}
#bottom_nav ul { float:right; width:650px; }
#bottom_nav ul li { float:left; padding:5px 0; }
#bottom_nav ul li a { padding: 10px 10px; color:#736F70; font-family:Arial, sans-serif; font-size: 13px; font-weight: normal; text-decoration: none; }
#bottom_nav ul li a:hover { text-decoration:underline; }