
﻿/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#top_nav ul { padding: 20px 40px; }

#top_nav ul li { float:right;  
padding: 5px 10px; 
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 13px;
}

#top_nav ul li#day {
color:#999697;
float: left;
}

#top_nav ul li a { 
color: #3366b2;
text-decoration: none;
 }

#top_nav ul li a:hover { 
color: #5197FF; }

#top_nav ul li a#sign_in { 
color: #5197FF; }

#logo {
margin: 0px auto;
width: 150px;
padding: 30px 90px 10px 90px;
}

h1 {
margin: 0px auto;
width: 1000px;
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 50px;
padding: 10px;
text-align: center;
}

h4  {
margin: 0px auto;
width: 750px;
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 17px;
padding: 10px;
text-align: center;
}

.hidden {
	display: none;
}

img.hidden {
	display: none;
}

#basecamp-arrow {
	margin-left: 100px;
}

#highrise-arrow {
	margin-left: 100px;
}

#campfire-arrow {
	margin-right: 100px;
}


div.hidden a {
	text-decoration: underline;
	font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
	font-size: 50px;
	color: #457D99;
}

#products {
margin: 0px auto;
width: 700px;
}

.product a {
margin: 0px auto;
width: 700px;
}

.product {
text-decoration: none;	
width:150px; 
border: 1px solid #e8e8e8;
border-radius: 10px;
background-color: #ffffff; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #FFFFFF, #E3E3E3); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(top, #FFFFFF, #E3E3E3); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(top, #FFFFFF, #E3E3E3); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(top, #FFFFFF, #E3E3E3); /* For old Opera (11.1 to 12.0) */ 
  background-image:         linear-gradient(to bottom, #FFFFFF, #E3E3E3); /* Standard syntax; must be last */
margin: 30px 20px;
padding: 10px;
display: inline-block;
}

.product img {
display: block;
margin: 0px auto;
padding: 5px;
}

p.title {
text-decoration: underline;
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 20px;
font-weight: bold;
color: #457D99;
padding: 5px;
text-align: center;
margin: 0;
}

.tagline {
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 15px;
font-weight: bold;
color: #C42323;
padding: 10px;
text-align: center;
text-decoration: none;
}

.description {
font-family: "ProximaNova", Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
font-size: 15px;
padding: 5px;
text-align: center;
text-decoration: none;
color: black;
}


